.zebra{
	width: 70%;
	margin: 20px auto;
	border-collapse: collapse;
}
.zebra th{
	background: #555;
	color: #fff;
	text-align: left;
}
.zebra .foot{
	background: #d5d5d5;
	color: #000;
	text-align: left;
}

.zebra input{
	width: 100%;
	transition: all .5s;
}

.zebra input:focus{
	box-shadow: 0 0 5px #000;

}

.zebra th,

.zebra td{



	border-bottom: 1px solid #ccc;



	padding: 5px;



	vertical-align: middle;



	/* padding: 12px 5px; */

}



.zebra tr{
	transition: all .5s;
}



.zebra tr:hover{
	background: #f1f1f1;
}







.edit{

	padding: 3px !important;
	transition: all .5s !important;
	border: 1px solid rgba(82, 168, 236, .5) !important;
}



.edit:focus{

	border: 1px solid rgba(82, 168, 236, 1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.9);
	outline: 0 none;
}


#gmaApllicationFormContainer {
		min-width: 320px;
		max-width: 70%;
		padding: 10px;
		margin: 0 auto;
}


/* Базовый контейнер табов */

.tabs {
 min-width: 320px;
 max-width: 80%;
 padding: 0px;
 margin: 0 auto;

}

/* Стили секций с содержанием */

.tabs>section {

 display: none;

 padding: 15px;

 background: #fff;

 border: 1px solid #ddd;

}

.tabs>section>p {

 margin: 0 0 5px;

 line-height: 1.5;

 color: #383838;

 /* прикрутим анимацию */

 -webkit-animation-duration: 1s;

 animation-duration: 1s;

 -webkit-animation-fill-mode: both;

 animation-fill-mode: both;

 -webkit-animation-name: fadeIn;

 animation-name: fadeIn;

}

/* Описываем анимацию свойства opacity */  @-webkit-keyframes fadeIn {

 from {

 opacity: 0;

 }

 to {

 opacity: 1;

 }

}

@keyframes fadeIn {

 from {

 opacity: 0;

 }

 to {

 opacity: 1;

 }

}

/* Прячем чекбоксы */

.tabs>input {

 display: none;

 position: absolute;

}

/* Стили переключателей вкладок (табов) */

.tabs>label {

 display: inline-block;

 margin: 0 0 -1px;

 padding: 15px 25px;

 font-weight: 600;

 text-align: center;

 color: #aaa;

 border: 0px solid #ddd;

 border-width: 1px 1px 1px 1px;

 background: #f1f1f1;

 border-radius: 3px 3px 0 0;

}

/* Шрифт-иконки от Font Awesome в формате Unicode */

.tabs>label:before {

 font-family: fontawesome;

 font-weight: normal;

 margin-right: 10px;

}

.tabs>label[for*="1"]:before {

 content: "\f007";

}

.tabs>label[for*="2"]:before {

 content: "\f001";

}



/* Изменения стиля переключателей вкладок при наведении */  .tabs>label:hover {

 color: #888;

 cursor: pointer;

}

/* Стили для активной вкладки */

.tabs>input:checked+label {

 color: #555;

 border-top: 1px solid #009933;

 border-bottom: 1px solid #fff;

 background: #fff;

}

/* Активация секций с помощью псевдокласса :checked */

#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {

 display: block;

}

/* Убираем текст с переключателей 

* и оставляем иконки на малых экранах

*/  @media screen and (max-width: 680px) {

	.tabs {
		min-width: 320px;
		max-width: 99%;
		padding: 0px;
		margin: 0 auto;
	   
	   }
 .tabs>label {
	 

 font-size: 0;

 }

 .tabs>label:before {

 margin: 0;

 font-size: 18px;

 }

}

/* Изменяем внутренние отступы 

*  переключателей для малых экранов

*/

@media screen and (max-width: 400px) {


	.tabs 
	{
		min-width: 320px;
		max-width: 99%;
		padding: 0px;
		margin: 0 auto;
	   
	   }

	.tabs>label {

	padding: 15px;

	}

}

#newCompetitorForm input,select {
	display: block;
	width: 100%;
	height: 40px;
	font-size: 15px;
}

#container {
	width: 50%;
	position:relative;
	margin: auto;
}

.showCompetitors, .enterGmaLk  {
	border:0px solid transparent;
	background-color: #f40000;
	color: white;
	display: inline-block;
	font-size: 150%;
	padding: 0.3em 1em!important;
	cursor: pointer;
	margin-bottom:5px;
}

.showCompetitors:hover {
	background-color: rgb(255, 15, 15);
}
.showJuryDetails, .getDiploma {
	border:0px solid transparent;
	background-color: #f40000;
	color: white;
	display: inline-block;
	font-size: 100%;
	padding: 0.3em 1em!important;
	cursor: pointer;
	margin-bottom:5px;
}

.showJuryDetails:hover, .getDiploma:hover {
	background-color: rgb(255, 0, 0);
	
}





#newCompetitorForm input[type=button], input[type=submit]  {
	border:0px solid transparent;
	background-color: #f40000;
	color: white;
	display: inline-block;
	font-size: 150%;
	padding: 0.3em 1em!important;
}

#newCompetitorForm input[type=button]:hover, input[type=submit]:hover {
	background-color: #ff0000;
	cursor: pointer;
}


#newCompetitorForm label.error {
color: red;
}

#chooseMusicianContainer {
	display: inline;
}



.showSwitcher {
	color: #2ea3f2;
	text-decoration: none;
	cursor: pointer;
	font-weight:bold; 
}